@media (min-width: 1581px) {
    .free {
    font-size: 1.2rem;
    padding: 8px;
  }
  .send-box {
    width: 35px;
  }
  #logo  {
    width: 2.7rem;
    height: 2.7rem;
  }
  .div-for-logo {
    padding: 1rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .tagline {
    font-size: 1.2rem;
  }
  .search-box {
    display: flex;
    width: 800px;
  }
  .search {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
  
  .search-box form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-box input{
    width: 100%;
    height: 3.2rem;
    border: 1px solid var(--primary);
    border-radius: 25px;
    padding: 1rem;
  } 
  .nav-section {
    display: block;
    padding: 0.5rem 1.5rem 1rem;
    font-size: 1.5rem;
    background-color: var(--background);
  }
  .nav-list {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .nav-list li {
    list-style: none;
  }
  .nav-list svg {
     width: 30px;
    height: 30px;
    fill: var(--primary);
  }
  #li-hamburger-menu a {
    display: flex;
    align-items: center;
    position: relative;
  }

    .dropdown {
    position: absolute;
    top: 93%;
    right: 10;
    background-color: var(--background);
    display: none;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0 ,0.15);
    z-index: 100;
    }

    .dropdown a {
    display: block;
    padding: 10px 15px;
    color: var(--text-primary);
    text-decoration: none;
    margin: 5px;
    }

    .dropdown a:hover {
    background-color: var(--text-primary);
    color: var(--White);
    border-radius: 25px;
    }

    #li-hamburger-menu:hover .dropdown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

    .card h3 {
      font-size: 1.1rem;
    }
    .nav-section a{
        text-decoration: none;
        color: var(--primary);
    }
    .card p {
      font-size: 1rem;
    }
    .card del {
      font-size: 1rem;
    }

    .basket img {
    width: 2.5rem;
  }
  .add-item span {
    font-size: 1.2rem;
  }
  .basket div span {
    font-size: 1.5rem;
    padding: 2px 8px;
    background-color: var(--accent);
  }
  .basket {
    padding: 0.3rem 1rem;
    border-radius: 40px;
  }

  .advertising-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  .info {
    grid-template-columns: 1fr 1fr;
  }
  .foot-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner {
    height: 60rem;
  }
  .dastebandi {
    grid-template-columns: repeat(6, 1fr) ;
  }
  .dastebandi-div img{
    width: 140px;
  }
   .dastebandi-div a {
    font-size: 1.3rem;
  }
    .dastebandi-section h2, .daily-suggestion h2 {
    font-size: 1.4rem;
  }
  .arrows {
    display: none;
  }
  .arrow {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
   .carousel-ds li {
    width: 330px;
  }
  .card-img{
    height: 17rem;
  }
  .add-item button {
    width: 2.2rem;
    height: 2.2rem;
  }
  .advertising-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  .advertising {
    min-height: 7.7rem;
    padding: 2rem;
    font-size: 1.2rem;
  }
  .advertising-icon {
    font-size: 2rem;
  }
  .info {
    grid-template-columns: repeat(4, 1fr);
  }
  .foot-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
.info span{
  font-size: 1.1rem;
}

.info li {
  font-size: 1rem;
}
}