:root {
  --primary : #103725;
  --primary-light : #fdff70af;
  --background: #f7f8f7;
  --White : #FFF;
  --accent: #D83515; 
  --text-primary: #103725;
  --text-secondary: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, Tahoma, sans-serif;
}

body {
  background: var(--background);
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.free {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-size: 10px;
  padding: 3px;
}

.send-box {
  width: 20px;
}

.send-box path {
  fill: var(--accent);
}

.toolbar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
}

.logo-div {
  display: flex;
  align-items: center;
  color: var(--text-primary);
}

.div-for-logo {
  background-color: var(--primary);
  padding: 0.45rem;
  border-radius: 50%;
}
.basket-hamburger{
  display: flex;
  gap: 10px;
}
.div-for-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo  {
  width: 1.2rem;
  height: 1.2rem;
}

.market-name { 
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.name {
  font-size: 14px;
  font-weight: bolder;
}

.tagline {
  font-size: 12px;
}

.search-box {
  display: none;
}

.basket {
  background-color: var(--primary);
  padding: 0.45rem 0.7rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.basket img {
  width: 1.2rem;
}

.basket div {
  margin-right: 3px;
  display: flex;
  align-items: center;
}

.basket div span {
  font-size: 10px;
  border-radius: 50%;
  padding: 2px 5px;
  background-color: var(--accent);
}

#menu {
    display: none;
}

.hamburger-menu-img {
  width: 2rem;
  cursor: pointer;
}

.open-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 1.2rem 0.8rem;
  width: 50%;
  height: 100vh;
  background-color: var(--primary);
  top: 0;
  left: 0;
  box-shadow: 0 5px 20px rgba(8, 8, 8, 0.911);
}

#menu:checked ~ .open-menu {
  visibility: visible;
}

.closed-button {
  margin: 1rem 0 2rem;
  width: fit-content;
  cursor: pointer;
  border: 2px solid var(--accent);
  color: var(--accent);
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  background: none;
}

.open-menu-a {
  padding-right: 6px;
  padding-bottom: 0.8rem;
  color: var(--White);
  font-size: 0.8rem;
  text-decoration: none;
} 

#hamburger-in-hamburger {
  display: flex;
  align-items: center;
  padding-right: 0px;
}

.open-menu-a svg {
  width: 25px;
  height: 25px;
  fill: var(--accent);
  margin-left: 5px;
}

.search {
  background-color: var(--background);
  width: 90%;
  margin: auto;

}

.search form {
  margin: 0 auto 1rem;
  width: 100%;
}

.search input{
  margin: auto;
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--primary);
  border-radius: 25px;
  padding: 1rem;
}

.nav-section {
  display: none;
}

.banner {
  width: 90%;
  border-radius: 30px;
  height: 10rem;
  background-color: var(--primary);
  margin: 0.5rem auto;  
  overflow: hidden;
}

.banner img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dastebandi-section {
  width: 90%;
  margin: 2rem auto;
  color: var(--text-primary);
}

.dastebandi-section h2, .daily-suggestion h2  {
  font-size: 0.8rem;
}

.dastebandi {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  justify-content: space-between;
  gap: 10px;
  margin-top: 0.8rem;
}

.dastebandi-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: var(--primary-light);
}

.dastebandi-div img{
  width: 50px;
  padding: 7px;
  background-color:var(--primary);
  border-radius: 50%;
  margin-bottom: 0.4rem;
}

.dastebandi-div a {
  color: var(--text-primary);
  font-size: 0.6rem;
  text-decoration: none;
}

.daily-suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0.5rem auto;
  color: var(--text-primary);
}

.arrows {
  display: flex;
  gap: 5px;
}

.arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--background);
  border: 1px solid #e5e5e5;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
  font-weight : 900;
}

.carousel-ds {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0.8rem;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.carousel-ds li {
  width: 200px;
  flex-shrink: 0;
  list-style: none;
  scroll-snap-align: start;
  border: 1px solid #d1d1d1;
  border-radius: 25px;
  color: var(--text-primary);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.carousel-ds li:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card {
  padding: 0.8rem;
}

.card-img{
  background-color: var(--primary-light);
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 25px;
  height: 9rem;
  width: 100%;
}

.card-img img {
  margin: 1rem auto ;
  max-width: 80%;
}

.badge {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  background-color: var(--accent);
  padding: 5px;
  border-radius: 25px;
  font-size: 0.7rem;
}

.card h3 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0.7rem;
}

.card p {
  margin-top: 0.6rem;
  font-size: 0.8rem;
}

.card del {
  margin-top: 0.6rem;
  font-size: 0.8rem;
}

.add-item {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-item button {
  width: 1.3rem;
  height: 1.3rem;
  border: none;
  background-color: var(--accent);
  font-size: 1rem;
  color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.add-item span {
  font-size: 0.9rem;
}

.advertising-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto;
  width: 90%;
}

.advertising {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5.5rem;
  padding: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 25px;
}

.breakfast {
  background-color: var(--primary);
  color: var(--White);
}

.bakery {
  background-color: var(--primary-light);
  color: var(--text-primary);
}

.advertising-icon {
  font-size: 1.5rem;
}

.footer {
  background-color: var(--primary);
  padding: 1rem 1.5rem;
    color: var(--White);
  margin-top: 3rem;

}

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.2rem;
  border-bottom: 1px solid var(--White);
  padding-bottom: 1.2rem;
}

.info span{
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.6rem;
}

.info ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.info li {
  list-style: none;
  font-size: 0.7rem;
  opacity: 0.6;
}

.info a {
  text-decoration: none;
  color: var(--White);
  opacity: 0.8;
}

.foot-bottom {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0.6rem;
  gap: 10px;
  font-size: 0.8rem;
}

.foot-bottom p {
  opacity: 0.8;
  
}

.foot-bottom a {
  color: var(--accent);
  font-weight: 600;
  text-decoration: none;
}
