@media (min-width: 768px) and (max-width: 1023px) {
  .free {
    font-size: 1rem;
    padding: 8px;
  }
  .send-box {
    width: 30px;
  }
  #logo  {
    width: 2rem;
    height: 2rem;
  }
  .div-for-logo {
    padding: 0.6rem;
  }
  .tagline {
    font-size: 0.9rem;
  }
  .search-box {
    display: flex;
    width: 400px;
  }
  .search {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
  .carousel-ds li {
    height: 345px;
    width: 300px;
  }
  .basket img {
    width: 1.7rem;
  }
  .basket div span {
    font-size: 16px;
    padding: 2px 6px;
    background-color: var(--accent);
  }
  .basket {
    padding: 0.3rem 0.7rem;
    border-radius: 25px;
  }
  .name {
  font-size: 1.3rem;
  }
  .banner {
    height: 25rem;
  }
  .dastebandi-div img{
    width: 120px;
  }
  .dastebandi-div a {
    font-size: 1.1rem;
  }
  .dastebandi-section h2, .daily-suggestion h2 {
    font-size: 1.2rem;
  }
  .card-img{
    height: 13rem;
  }
  .arrow {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
  .add-item button {
    width: 1.9rem;
    height: 1.9rem;
  }
  .advertising-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  .info {
    grid-template-columns: 1fr 1fr;
  }
  .foot-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .carousel2-ds li {
    height: 330px;
    width: 300px;
  }
}