* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Reset */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* Top Bar  */
.top-bar {
  background-color: antiquewhite;
  color: #333;
  text-align: center;
  padding: 5px 10px;
}

.top-bar p {
  margin: 0;
}

/*  Main Header */

/* Logo */
.main-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 5%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

/* لوگو */
.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.logo svg {
  width: 150px;
  height: 45px;
  display: block;
}

/* سرچ */
.search-box {
  display: flex;
  flex: 1;
  min-width: 0;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
}

/* سبد */
.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: rgb(233, 156, 233);
  flex-shrink: 0;
}

@media (max-width: 768px) {

  .main-header {
    gap: 7px;
    padding: 10px;
    flex-wrap: nowrap;
  }

  .logo svg {
    width: 50px;
    height: 30px;
  }

  .search-box {
    height: 40px;
    flex: 1;
    min-width: 0;
  }

  .search-box input {
    font-size: 11px;
    padding: 0 8px;
  }

  .search-box button {
    padding: 0 8px;
    font-size: 15px;
  }

  .cart {
    padding: 7px 8px;
    gap: 3px;
  }

  .cart .btn {
    font-size: 10px;
  }

  .cart b {
    width: 18px;
    height: 18px;
    font-size: 10px;
  }
}

.logo p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #777;
}

*/ .submenu:hover {
  outline: 2px solid red;
}

/*Search*/
.search-box {
  display: flex;
  flex: 1;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 14px;
}

.search-box button {
  border: none;
  background: transparent;
  padding: 0 20px;
  cursor: pointer;
  font-size: 18px;
}

/*Cart*/

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 25px;
  color: #000;
  background-color: rgb(233, 156, 233);
  flex-shrink: 0;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart b {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #e74c3c;
  border-radius: 50%;
  font-size: 12px;
}

/* Navbar */

.navbar {
  width: 100%;
  display: flex;
  gap: 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* منوی اصلی */
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* آیتم های منو */
.menu>li {
  position: relative;
}

/* لینک های منو */
.menu a {
  display: block;
  padding: 18px 10px;
  color: #222;
  text-decoration: none;
  font-size: 16px;
}

/* هاور لینک */
.menu>li>a:hover {
  color: #b04a75;
}

/*زیر منو */
.submenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 190px;
  background: white;
  list-style: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1000;
}

/* لینک های زیرمنو */
.submenu a {
  padding: 12px 15px;
}

/* هاور روی زیرمنو */
.submenu a:hover {
  background: #f7e9ef;
  color: #b04a75;
}

/* نمایش زیرمنو در دسکتاپ */
.has-submenu:hover .submenu {
  display: block;
}

/*همبرگری */

/* checkbox را مخفی می کنیم */

#menu-toggel {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: none;
}

/* دکمه همبرگری */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  padding: 12px 18px;
}

/*موبایل*/

@media (max-width: 768px) {

  /* نمایش دکمه همبرگری */
  .hamburger {
    display: block;
  }

  /* منوی اصلی در ابتدا مخفی */
  .navbar {
    display: none;
  }

  /* وقتی همبرگر زده شد، navbar باز شود */
  #menu-toggle:checked~.navbar {
    display: block;
  }

  /* منوی اصلی موبایل */
  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    width: 100%;
  }

  .menu>li {
    width: 100%;
  }

  .menu>li>a {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
  }

  /* زیرمنو در موبایل */
  .submenu {
    position: static;
    width: 100%;
    box-shadow: none;
    display: block;
    background: #f8f8f8;
  }

  .submenu a {
    padding: 12px 35px;
  }

}

/*  */
.mobile-menu {
  position: relative;
}

/* دکمه همبرگری */
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

/* موبایل */
@media (max-width: 768px) {

  .menu-button {
    display: block;
  }

  .mobile-menu>ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    background: white;
    padding: 15px;
    margin: 0;
    list-style: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  /* وقتی موس روی همبرگر یا منو باشد */
  .mobile-menu:hover>ul {
    display: block;
  }

}

/* Mobile Menu Button */

/* .menu-button {
     display: none;
     border: none;
     background: transparent;
     font-size: 25px;
     cursor: pointer;
 } */

/* Posters*/
.posters {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 180px 180px;
  gap: 15px;
}

.poster {
  min-width: 0;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Poster 1 */

.poster-1 {
  grid-column: 1 / 4;
  background-image: url("img/img (1).jpg");
}

/* Poster 2 */

.poster-2 {
  grid-column: 4;
  grid-row: 1 / 3;
  background-image: url("img/img (4).jpg");
}

/* Poster 3 */

.poster-3 {
  grid-column: 1 / 3;
  background-image: url("img/img (6).jpeg");
}

/* Poster 4 */

.poster-4 {
  grid-column: 3;
  background-image: url("img/img (3).jpeg");
}

/* Number */

.poster span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

/* Categories*/



.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;

}

.category {
  min-width: 140px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.category img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.category span {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.category:hover {
  transform: translateY(-5px);
}

.category:hover,
.category:focus-visible {
  border: 1px solid purple;

}

.category span {
  color: black;
}

.category:focus-visible,
.navbar a:focus-visible,
.logo:focus-visible,
.search-box button:focus-visible,
.btn:focus-visible,
.menu-button:focus-visible {
  outline: 3px solid #333;
  outline-offset: 4px;
}

/* tablet */
@media (min-width: 601px) and (max-width: 900px) {

  .main-header {
    gap: 15px;
    padding: 15px 3%;
  }

  .logo h1 {
    font-size: 18px;
  }

  .logo p {
    font-size: 11px;
  }

  .search-box {
    height: 45px;
  }

  .cart {
    padding: 8px 12px;
  }

  /* Posters */

  .posters {
    width: 94%;

    grid-template-rows: 150px 150px;

    gap: 10px;
  }

  /* Categories */

  .categories {
    gap: 15px;
    padding: 18px;
  }

  .category {
    min-width: 120px;
    height: 135px;
  }

  .category img {
    width: 65px;
    height: 65px;
  }

  .category span {
    font-size: 14px;
  }
}

/* mobile */
@media (max-width: 600px) {

  /* Header */

  .main-header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    padding: 15px;
  }

  /* Logo */

  .logo {
    min-width: 0;
  }

  .logo-icon {
    width: 38px;
    height: 38px;
  }

  .logo h1 {
    font-size: 16px;
  }

  .logo p {
    font-size: 10px;
  }

  /* Search */

  .search-box {
    grid-column: 1 / -1;
    width: 100%;
    height: 45px;
  }

  .search-box input {
    font-size: 13px;
    padding: 0 15px;
  }

  .search-box button {
    padding: 0 15px;
  }

  /* Cart */

  .cart {
    padding: 7px 10px;

    font-size: 13px;
  }

  /* Navbar */

  .navbar {
    position: relative;
  }

  .menu-button {
    display: block;
    margin: 8px 15px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    padding: 0 15px 10px;
  }

  .navbar li {
    border-bottom: 1px solid #eee;
  }

  .navbar a {
    display: block;
    padding: 12px 5px;
    font-size: 14px;
  }

  /* Posters */

  .posters {
    width: calc(100% - 30px);
    margin: 15px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 140px 140px;
    gap: 10px;
  }

  .poster-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .poster-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .poster-3 {
    grid-column: 2;
    grid-row: 2;
  }

  .poster-4 {
    display: none;
  }

  /* Categories */

  .categories {
    gap: 12px;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .category {
    min-width: 100px;
    height: 120px;
  }

  .category img {
    width: 55px;
    height: 55px;
  }

  .category span {
    font-size: 13px;
  }
}

/* دسته بندی: موبایل */
@media (max-width:600px) {
  .categories {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    flex-wrap: wrap;

  }

  .category {
    min-width: 100px;
    height: 120px;
  }

  .category {
    min-width: 100px;
    height: 120px;
  }

  .category img {
    width: 55px;
    height: 55px;
  }

  .category span {
    font-size: 13px;
  }
}

/* دسته بندی: تبلت */
@media (min-width: 601px) and (max-width: 900px) {
  .categories {
    gap: 15px;
    padding: 18px;
  }

  .category {
    min-width: 120px;
    height: 135px;
  }

  .category img {
    width: 65px;
    height: 65px;
  }

  .category span {
    font-size: 14px;
  }
}

/* Product-Card */

.products-carousel {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

/* .product-card{
    width: 180px;
    min-width: 180px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 12px  rgba(0, 0, 0, 0.08);
    transition: 0.8s;
} */
.products-carousel {
  width: 100%;
  overflow: hidden;
  padding: 15px;

}

.products-track {
  display: flex;
  gap: 15px;
  width: max-content;
  width: max-content;
  animation: move-products 15s linear infinite;
}

@keyframes move-products {
  form {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.product-card:hover {
  transform: translateY(-10px);
}

/* خودم */
.products-carousel {
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.products-track {
  display: flex;
  gap: 15px;
  width: max-content;

  animation: move-products 20s linear infinite;
}

.product-card {
  width: 180px;
  min-width: 180px;
  flex-shrink: 0;

  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  transition: 0.8s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-img {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.old-price {
  text-decoration: line-through;
}

.product-card button {
  display: flex;
  justify-content: center;

  width: 60px;
  height: 20px;

  border-radius: 40px;

  background-color: #eaa5db;

  text-align: center;

  border: 1px solid #b04a75;
}


/* حرکت کاروسل */

@keyframes move-products {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}

.product-img {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.old-price {
  text-decoration: line-through;
}

.product-card button {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 20px;
  border-radius: 40px;
  background-color: #eaa5db;
  text-align: center;
  border: 1px solid #b04a75;
}

@media (min-width: 601px) and (max-width: 900px) {
  .products-carousel {
    gap: 15px;
    padding: 8px;
  }

  .product-card {
    width: 170px;
    min-width: 170px;
    padding: 10px;
  }

  .product-img {
    height: 145px;
  }

  .product-title {
    font-size: 14px;
  }

  .price {
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width:600px) {
  .products-carousel {
    gap: 12px;
    padding: 8px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .product-card {
    width: 145px;
    min-width: 145px;
    padding: 8px;
    border-radius: 12px;
  }

  .product-image {
    height: 125px;
  }

  .product-title {
    font-size: 11px;
  }

  .old-price {
    font-size: 14px;
  }

  .discount {
    font-size: 10px;
    padding: 3px 6px;
  }
}

/* footer */
.footer {
  background: #eaa5db;
  color: #ffffff;
  padding: 40px 20px 20px;
  overflow-x: hidden;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  margin: 0 0 15px;
  font-size: 18px;
}

.footer-column p {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.3;
}

.footer-column {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column a:focus {
  outline: 2px solid #ffffff;
  outline-offset: 4px;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 13px;
}

.footer-bottom a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
}

/* footer tablet */
@media (min-width: 601px) and (max-width:900px) {
  .footer {
    padding: 35px 18px 20px;
  }

  .footer-container {
    gap: 25px;
  }

  .footer-column h3 {
    font-size: 16px;
  }

  .footer-column p,
  .footer-column a {
    font-size: 13px;
  }
}

/* footer mobile */
@media (max-width:600px) {
  .footer {
    padding: 30px 15px 15px;
  }

  .footer-container {
    flex-direction: column;
    gap: 25px;
  }

  .footer-column {
    font-size: 16px;
  }

  .footer-column p,
  .footer-column a {
    font-size: 13px;
  }

  .footer-bottom {
    margin-top: 25px;
    padding-top: 15px;
  }
}