.container {
  width: 100%;
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--s-4);
}

@media (min-width: 640px) {
  .container {
    padding-inline: var(--s-5);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: var(--s-6);
  }
}
